{% extends 'base.html' %}
{% block title %}madlibs story selection{% endblock %}
{% block header %}madlibs story selection{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 justify-content-center">
      <div class="card secondary">
        <h4 class="card-title text-center">
          Please chose a story,<br>
          or tell me to pick one for you.
        </h4>
        <form action="/get-words/{{title}}" class="card-body">
          <select name="story" id="story">
            <option value="random">choose for me</option>
            {% for title in titles %}
            <option value="{{title}}">{{title}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-block btn-secondary">let's do this</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}